.custom-root {
    width: 100%;
    overflow-y: scroll;
    position: relative;
}

.CustomCard--settings {
    background: var(--background-color, rgba(255, 255, 255, 1));
}

.CustomCard--settings .bolt-card-content {
    display: flex;
    flex-direction: column;
}

.CustomFilterWrapper--fixed,
.CustomHeaderWrapper--fixed {
    z-index: 100 !important;
    height: fit-content;
    display: flex;
    background: var(--background-color, rgba(255, 255, 255, 1));
    align-items: center;
    position: fixed;
}

.CustomHeaderWrapper--fixed thead {
    width: 100%;
}

.CustomFilterWrapper--fixed {
    margin: 0 !important;
    padding: 0 !important;
    flex-direction: column;
    border-bottom: 1px solid var(--component-grid-cell-bottom-border-color,rgba(234, 234, 234, 1));
}

.CustomFilterWrapper--fixed .src-header-title-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CustomFilterWrapper--fixed .src-header-title-wrapper {
    flex-grow: 1;
    padding: 10px 0;
    margin-right: 10px;
    margin-left: 10px;
}

.CustomFilterWrapper--fixed .src-custom-action-btn {
    padding: 5px 10px;
    margin-right: 5px;
}

.CustomFilterWrapper--fixed .bolt-header-commandbar {
    margin-left: 0;
}

.CustomFilterWrapper--fixed .src-header-title {
    margin-right: 0.5px;
}

.CustomFilterWrapper--fixed .src-header-title:hover {
    text-decoration: underline;
}

.CustomHasZeroSelectedCount--noContentFound {
    font: 14px;
    font-weight: 600;
    font-style: italic;
    background: 'red';
    display: flex;
    align-items: center; 
    justify-content: center;
}

.CustomFilterPill--selectCount {
    padding: 2.5px;
    margin-left: 5px;
}

.CustomFilterPill--selectCount span {
    font-weight: 600;
    font-style: italic;
}

.vss-FilterBar.custom-filter {
    margin: 0;
    padding: 5px;
    min-height: 45px;
    max-height: 45px;
    background-color: var(--background-color,rgba(255, 255, 255, 1));
    border: 1px solid var(--component-grid-cell-bottom-border-color,rgba(234, 234, 234, 1));
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}

.vss-FilterBar.custom-filter .bolt-textfield {
    box-shadow: none !important;
}

.bolt-menuitem-cell-text {
    min-width: 100px;
    max-width: max-content;
    padding-right: 20px;
}



/* .src-custom-contextMenu {
    position: relative;
    width: fit-content;
    background: var(--background-color, rgb(255, 255, 255));
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin: 0;
}

.src-custom-contextMenu .src-custom-opaque {
    opacity: .8;
}
 
.src-custom-contextMenu .src-custom-marginTop {
    margin-top: 5px;
}
 
.src-custom-fluentui-icon {
    opacity: .75;
    font-weight: 700;
}

.src-custom-fluentui-icon:disabled {
    color: red;
}

.src-custome-header-title-area {
    margin-bottom: 10px;
}

.custom-root .sr-page.bolt-page {
    margin: 0;
    padding: 0;
    min-width: 100%;
}

.custom-root .sr-page.bolt-page .bolt-header.custom-bolt-header-without-commandbar {
    flex-direction: column;
    z-index: 10;
    background: var(--background-color,rgba(255, 255, 255, 1));
    margin: 0;
    padding: 5px 0;
    display: flex;
    border-bottom: 1px solid var(--component-grid-cell-bottom-border-color,rgba(234, 234, 234, 1));
}

.custom-root .sr-page.bolt-page .bolt-header.custom-bolt-header-without-commandbar .src-header-title-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.custom-root .sr-page.bolt-page .bolt-header.custom-bolt-header-without-commandbar .src-header-title-wrapper {
    flex-grow: 1;
    padding: 10px 0;
    margin-right: 10px;
    margin-left: 10px;
}

.custom-root .sr-page.bolt-page .bolt-header.custom-bolt-header-without-commandbar .src-custom-action-btn {
    padding: 5px 10px;
    margin-right: 5px;
}

.custom-root .sr-page.bolt-page .bolt-header.custom-bolt-header-without-commandbar .bolt-header-commandbar {
    margin-left: 0;
}

.custom-root .sr-page.bolt-page .bolt-header.custom-bolt-header-without-commandbar .src-header-title {
    margin-right: 0.5px;
}

.custom-root .sr-page.bolt-page .bolt-header.custom-bolt-header-without-commandbar .src-header-title:hover {
    text-decoration: underline;
}

.custom-root .sr-page.bolt-page .page-content table.bolt-table thead {
    z-index: 8;
    position: relative;
    background: var(--background-color,rgba(255, 255, 255, 1));
}

.sr-page.bolt-page .bolt-header .bolt-header-title-area.flex-grow {
    flex-grow: 1
}

.sr-page.bolt-page .vss-FilterBar.custom-filter {
    margin: 0;
    padding: 5px;
    min-height: 45px;
    max-height: 45px;
    background-color: var(--background-color,rgba(255, 255, 255, 1));
    border: 1px solid var(--component-grid-cell-bottom-border-color,rgba(234, 234, 234, 1));
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}

.sr-page.bolt-page .vss-FilterBar.custom-filter .bolt-textfield {
    box-shadow: none;
} */

.sr-page.bolt-page .page-content {
    flex: 1;
    margin: 0;
    padding: 0;
    position: relative;
}

.sr-page.bolt-page .page-content div.custom-bolt-header-with-commandbar {
    margin: 0;
    padding: 0;
    align-items: center;
    border-bottom: 1px solid var(--component-grid-cell-bottom-border-color,rgba(234, 234, 234, 1));
}

.sr-page.bolt-page .page-content table tbody .bolt-status-extended.src-status-wrapper {
    padding-left: 5px;
}

.sr-page.bolt-page .page-content table tbody .bolt-status-extended.src-status-wrapper span.bolt-status-text {
    padding: 5px 15px 5px 2.5px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}